* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .left_backgroundinage {
    background-image: url(../../assets/images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

.right_block {
    border-left: 6px solid;
    border-image: linear-gradient(0deg, #f0d9ca, #c6e0f5 12.5%, #d8ceff 25%, #ffdd9b 37.5%, #f5c6cf 50%, #f0d9ca 62.5%, #c6e0f5 75%, #d8ceff 87.5%) 1;
    border-image-slice: 1;
    position: relative;
    overflow: hidden;
}

.dx-widget, .dx-widget *, .dx-widget ::after, .dx-widget ::before, .dx-widget::after, .dx-widget::before{
    color: #fff!important;
}

#dropdownDefaultButton,#APPROVED,#REJECTED,#INREVIEW,#null{
    color: #000!important;
}

.right_block:hover .backgroundimage {
    transform: scale(1.2);
}

.right_block:hover .text-overlay img {
    transform: scale(0);
    transform: rotate(10deg);
}

.inputbox {
    width: 100%;
    border-bottom: 2px solid #d9d9d9;
    display: block;
    font-size: 18px;
    border-radius: 5px 5px 0 0;
    line-height: 164%;
    overflow: hidden;
    color: #000;
    font-weight: 600;
    padding: 15px 40px 15px 10px;
    /* background-color:#917bea6f; */
    font-family: Poppins, sans-serif;
    outline: none;
}

.emailinput .inputbox-container {
    position: relative;
}

.custom-tooltip {
    background-color: #917bea;
    font-size: 14px;
    width: 450px;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-weight: bold;
}

.password-tooltip {
    color: #7a5fe3;
    display: inline-block;
    outline: none;
}

.error-message {
    color: red;
    font-size: 13px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
}

.emailinput label {
    color: #6c6c6c;
    font-size: 14px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
}

.passwordinput label {
    color: #6c6c6c;
    font-size: 14px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
}

.emailinput .inputbox-container .email-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 30px;
    color: #999;
}

.passwordinput .inputbox-container {
    position: relative;
}

.passwordinput .inputbox-container .password-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 25px;
    color: #999;
    cursor: pointer;
}


.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000;
    transition: transform 0.3s ease;
    width: 100%;
}

.left_heading:hover h1 {
    transition: all .3s ease;
    color: #7a5fe3;
    text-shadow: 0 5px 15px rgba(117, 171, 216, .745);
}

.left_heading:hover p {
    transition: all .3s ease;
    text-shadow: 0 5px 15px rgba(117, 171, 216, .745);
}

.right_block img {
    transition: transform 0.3s ease;
}

.left_block {
    overflow: hidden;
    height: 100%;
    min-height: 100vh;
    padding: 40px 80px;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
}

.form_layout {
    width: 500px;
}


@media (max-width: 1190px) {
    .form_layout {
        width: 400px;
    }

    .left_heading h1 {
        font-size: 2rem;
        width: 400px;
    }
}

@media (max-width: 990px) {
    .form_layout {
        width: 350px;
    }

    .left_heading h1 {
        font-size: 1.5rem;
        width: 350px;
    }
}

@media (max-width: 768px) {
    .form_layout {
        width: 100%;
    }

    .left_heading h1 {
        font-size: 1.5rem;
        width: 100%;
    }

    .left_block {
        padding: 40px 20px;
    }
}

@media (max-width: 630px) {
    .form_layout {
        width: 100%;
    }

    .left_heading h1 {
        font-size: 2.0rem;
        width: 100%;
    }

    .left_block {
        padding: 40px 80px;
    }
}

@media (max-width: 500px) {
    .form_layout {
        width: 100%;
    }

    .left_heading h1 {
        font-size: 1.5rem;
        width: 100%;
    }

    .left_block {
        padding: 40px 30px;
    }
}

.submitbutton {
    background: #000;
    border-radius: 50px;
    font-weight: 600;
    font-size: 16px;
    line-height: 164%;
    color: #fff;
    text-transform: capitalize;
    padding: 12px 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    outline: 3px solid transparent;
    outline-offset: 3px;
    width: 100%;
    transition: all .3s ease;
}

.submitbutton:hover {
    transform: translateY(-5px);
    background: #917bea;
    box-shadow: 0 8px 25px rgba(145, 123, 234, .5);
    outline: 3px solid #917bea;
}


.create_acp {
    font-size: 16px;
    line-height: 164%;
    color: #6c6c6c;
    text-align: center;
    font-weight: 500;
    margin-top: 10px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
}

.create_ac {
    color: #7a5fe3;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

.create_ac:hover {
    color: #917bea;
}

.create_ac::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    border-radius: 3px;
    background-color: #f27f33;
    right: 0;
    bottom: -6px;
    transition: all .5s cubic-bezier(.165, .84, .44, 1);
    -webkit-transition: all .5s cubic-bezier(.165, .84, .44, 1);
    -moz-transition: all .5s cubic-bezier(.165, .84, .44, 1);
    -ms-transition: all .5s cubic-bezier(.165, .84, .44, 1);
    -o-transition: all .5s cubic-bezier(.165, .84, .44, 1);
}

.create_ac:hover::before {
    width: 100%;
    left: 0;
    right: auto;
}

.emailinput:hover label,
.emailinput:hover input::placeholder {
    color: #917bea;
}

.emailinput:hover input {
    border-bottom-color: #917bea;
}

.emailinput:hover input:focus {
    background-color: #b7a9f185;
    color: #000;
}

.passwordinput:hover label,
.passwordinput:hover input::placeholder {
    color: #917bea;
}

.passwordinput:hover input {
    border-bottom-color: #917bea;
}

.passwordinput:hover input:focus {
    background-color: #b7a9f185;
    color: #000;
}

.or_block {
    margin: 15px 0;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

.line {
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    background-color: #d9d9d9;
    border-radius: 5px;
    transform: translateY(-50%);
    transition: all .5s cubic-bezier(.165, .84, .44, 1);
    -webkit-transition: all .5s cubic-bezier(.165, .84, .44, 1);
    -moz-transition: all .5s cubic-bezier(.165, .84, .44, 1);
    -ms-transition: all .5s cubic-bezier(.165, .84, .44, 1);
    -o-transition: all .5s cubic-bezier(.165, .84, .44, 1);
    z-index: 0;
}

.or_block:hover .line {
    background-color: #917bea;
}

.or_block p {
    font-size: 14px;
    line-height: 164%;
    color: #000;
    background: #fff;
    padding: 15px;
    border-radius: 50px;
    overflow: hidden;
    text-align: center;
    font-weight: 500;
    transition: all .5s cubic-bezier(.165, .84, .44, 1);
    -webkit-transition: all .5s cubic-bezier(.165, .84, .44, 1);
    -moz-transition: all .5s cubic-bezier(.165, .84, .44, 1);
    -ms-transition: all .5s cubic-bezier(.165, .84, .44, 1);
    -o-transition: all .5s cubic-bezier(.165, .84, .44, 1);
    position: relative;
    z-index: 1;
}

.or_block p:hover {
    padding: 15px 30px;
    color: #917bea;
}

.Signup_with_thirdparty_btn {
    width: 100%;
    background: #fff;
    border: 2px solid #d9d9d9;
    border-radius: 60px;
    min-height: 50px;
    overflow: hidden;
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    z-index: 1;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 164%;
    color: #000;
    transition: all .3s ease;
}

.Signup_with_thirdparty_btn:hover {
    border: 2px solid #75acd8;
    color: #75acd8;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, .1), 0 10px 10px -5px rgba(0, 0, 0, .04);
}

.Signup_with_thirdparty_btn .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.fsp-drop-pane__container {
    display: none;
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #f0f0f0;
    margin-top: 10px;
}

.progress {
    height: 100%;
    background-color: #3B82F6;
}
